.diary-post-page {
    margin: 2rem auto;
}

.post-box {
    margin: 8px auto;

    .card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px 0;
        margin-bottom: 8px;

        .card-action-menu {
            display: flex;
            gap: 5px;
            justify-content: space-between;

            .action-btn {
                min-width: 36px;
                height: 36px;
                width: 36px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}

.no-post {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    width: 800px;
    height: auto;

    .diary-space {
        margin-top: 1rem;
        width: 100%;
    }

    .edit-title {
        color: var(--primary-color);
    }

    .diary-menu {
        padding: 8px 16px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.popup-remove-alert {
    .popup-title {
        color: var(--primary-color);
    }

    .action-menu {
        margin-top: 8px;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
            min-width: 48px;
            padding: 0;
            margin: 0;
            text-align: center;

            .icon {
                scale: 1.3;
                padding: 0;
                margin: 0;
            }
        }
    }
}