<ng-container [ngSwitch]="todo[0] !== ''">
  <div class="todo-component" *ngSwitchCase="true">
    <div class="container">
      <div class="topic">
        <h2>{{ Text.todoTitle[lang] }}</h2>
        <button class="topic-btn" mat-raised-button color="primary">
          <mat-icon class="icon">add_cricle</mat-icon>
        </button>
      </div>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <div class="box" *ngFor="let item of todo; let i = index" cdkDrag>
          <input type="text" class="box-input" [value]="item" readonly />
          <div class="box-menu">
            <button mat-button type="button" color="primary" class="menu-btn">
              <mat-icon class="icon">edit</mat-icon>
            </button>
            <button mat-button type="button" color="warn" class="menu-btn">
              <mat-icon class="icon">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="topic">
        <h2>{{ Text.doneTitle[lang] }}</h2>
        <button class="topic-btn" mat-raised-button color="warn">
          <mat-icon class="icon">remove_cricle</mat-icon>
        </button>
      </div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <div class="box" *ngFor="let item of done" cdkDrag>
          <input type="text" class="box-input" [value]="item" readonly />
          <div class="box-menu">
            <button mat-button type="button" color="primary" class="menu-btn">
              <mat-icon class="icon">favorite_outlined</mat-icon>
            </button>
            <button mat-button type="button" color="happy" class="menu-btn">
              <mat-icon class="icon">undo</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="create-todo-component" *ngSwitchDefault>
    <h1>You have no list...</h1>
    <button class="create-btn" mat-raised-button (click)="createEmtryTodo()">
      <mat-icon class="icon">add</mat-icon>
      CREATE LIST
    </button>
  </div>
</ng-container>
