.container-grid {
    max-width: 900px;
    margin: auto;
    padding: 15px;

    .link-list {
        padding: 20px 0;

        ul {
            display: flex;
            justify-content: center;
            text-align: center;
            list-style: none;
            gap: 10px;

            li {
                cursor: pointer;
            }

            .logo-box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 64px;
                width: 120px;
            }

            .link {
                text-decoration: none;
                color: #87ceeb;

                &:hover {
                    color: #00b7ff;
                }
            }
        }
    }
}