<div class="footer-component">
  <div class="container-grid">
    <div class="box">
      <div class="link-list">
        <ul>
          <li>
            <div class="logo-box">
              <img
                src="https://angular.io/assets/images/logos/angular/angular.svg"
                alt="angular icon"
                width="64px"
              />
            </div>
            <br />
            <a class="link" href="https://angular.io/" target="_blank"
              >Augular.io</a
            >
          </li>
          <li>
            <div class="logo-box">
              <img
                src="https://material.angular.io/assets/img/angular-material-logo.svg"
                alt="material icon"
                width="48px"
              />
            </div>
            <br />
            <a class="link" href="https://material.angular.io/" target="_blank"
              >Angular Material</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
