<div class="mother-conponent" [class]="themeService.getTheme()">
  <div class="header">
    <mat-toolbar color="primary">
      <button mat-icon-button class="icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="spacer"></span>
      <button mat-icon-button class="icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="icon" (click)="toggleTheme()">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="body"></div>
  <div class="footer"></div>
</div>
