@use '@angular/material'as mat;

@include mat.core();

:root {
  --border-color-main: rgba(0, 0, 0, 0.12);
  --primary-bg: #FFFFFF;
  --primary-color: #000000;
  --primary-hover: rgba(66, 66, 66, 0.25);
}

$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  ));

$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  ));

@include mat.all-component-themes($light-theme);

.dark-theme {
  --primary-bg: #303030;
  --primary-color: #FFFFFF;
  --border-color-main: #606060;
  --primary-hover: rgba(255, 255, 255, 0.25);
  @include mat.all-component-colors($dark-theme);
}

.mat-primary,
.mat-accent,
.mat-warn {
  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}